* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

:root {
  --time-set: 2s;
  --clr-change: rgb(255, 128, 64);
}

body {
  background-color: antiquewhite;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.title {
  color: var(--clr-change);
  transition: var(--time-set);
  margin-top: .4rem;
}

.details {
  font-size: 15px;
  width: 400px;
}

.pad {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.range {
  width: 170px; /* prevent range from moving container */
}

.rangeOutput {
  color: var(--clr-change);
  transition: var(--time-set);
}

button{
  color: var(--clr-change);
  transition: var(--time-set);
  font-size: medium;
  border-radius: 40%;
  padding: .5rem;
}

button:hover{
  background-color: aqua;
  transform: scale(1.1);
  transition: 0.4s;
}

/* container START */
.container {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: cell;
  box-shadow: rgb(0 0 0 / 100%) 0px 0px 8px;
  outline: 2px solid var(--clr-change);
  transition: var(--time-set);
  border-radius: 5px;
}

.square {
  /* border: 1px solid grey; */
  background-color: white;
  flex-basis: calc(100% / 16);
  aspect-ratio: 1 / 1;
}
/* container END */

.coloring {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* make color input rounded */
input[type=color] {
  width: 2.5rem;
  height: 2.5rem; 
  border-radius: 50%;
  overflow: hidden;
}
input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}
input[type=color]::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 50%;
  padding: 0;
}
/* end of rounding */

input[type=color]:hover {
  transform: scale(1.1);
  transition: .4s;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 17px;
  border: 1px solid black;
  cursor: pointer;
  background: var(--clr-change);
  transition: var(--time-set);
  border-radius: 25px;
}
